h1{
  font-size: 80px;
  align-items: center;
  text-align: center;
  background-image:none;
  background-size: 20%;
}
nav{
  text-align: center;
  font-size: 50px;
  background-color: black;
  font-style: normal;
  background-position: 10%;
  ba
  
}

section>h2{
  text-align: center;
  font-size:60px;
  
}